################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/mediatek/bin/Debug/net8.0
/mediatek/.vs
/mediatek/obj
